{% extends "mun_dashboard/base.html" %}
{% block content %}
        <div class = "row border" style = "padding : 20px">
            <div>
                <h3>The following complaint is marked Solved Successfully!</h3>
            </div>
            <div class="col-md-5">
                <a href="#">
                    <img class="img-fluid rounded mb-3 mb-md-0" src="{{ complaint.ref_image.url }}" alt="">
                </a>
            </div>
            <div class="col-md-7">
                <h3>Location : {{ complaint.location }}</h3>
                <p><strong>ID : </strong>{{ complaint.complaint_id }}</p>
                <p><strong>Filer Name : </strong>{{ complaint.filer }}</p>
                <p><strong>Date filed : </strong>{{ complaint.date_filed }}</p>
                <p><strong>Category : </strong>{{ complaint.type_of_complaint }}</p>
                <p><strong>Tags : {% for tag in complaint.tag.all %}</strong>{{ tag.title }}, {% endfor %}</p>
                <p><strong>Description : </strong>{{ complaint.description }}</p>
                <a class="btn btn-secondary" href="{% url 'verified-complaints'%}">Return to verified complaints</a>
            </div>
        </div>
        <br/>
{% endblock content %}